.container {
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    grid-template-rows: 0.3fr 0.1fr 2.6fr 1.5fr 0.8fr 1fr 1fr 0.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "head head head" "head1 head1 head1" ". body1 ." ". body2 ." ". images ." ". lonks ." ". more ." "footer footer footer";
}

.head {
    grid-area: head;
}

.head1 {
    grid-area: head1;
}

.body1 {
    grid-area: body1;
}

.body2 {
    grid-area: body2;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "images1 images2 images3" "images1 images2 images3" "images1 images2 images3";
    grid-area: images;
}

.images1 {
    grid-area: images1;
}

.images2 {
    grid-area: images2;
}

.images3 {
    grid-area: images3;
}

.lonks {
    grid-area: lonks;
}

.more {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "more1 more2 more3" "more1 more2 more3" "more1 more2 more3";
    grid-area: more;
}

.more2 {
    grid-area: more2;
}

.more1 {
    grid-area: more1;
}

.more3 {
    grid-area: more3;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.9fr 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "footer1 footer2 footer3 footer4" "footer1 footer2 footer3 footer4" "footer1 footer2 footer3 footer4";
    grid-area: footer;
}

.footer1 {
    grid-area: footer1;
}

.footer2 {
    grid-area: footer2;
}

.footer3 {
    grid-area: footer3;
}

.footer4 {
    grid-area: footer4;
}